.hero {
  background-image: linear-gradient(
      rgba(20, 21, 18, 0.36),
      rgba(6, 6, 6, 0.189)
    ),
    url('../../assets/images-news/background-callcenter.jpg');

  background-position: 50% 50%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  @include desktop {
    padding: 2rem;
  }
  @include desktop {
    height: 70rem;
  }
  &__content {
    width: 70%;
    max-width: 40rem;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    @include desktop {
      font-size: 3rem;
    }
  }
}

.input-wrapper {
  position: relative;
  &__input {
    max-width: 50rem;
    min-width: 162px;
    padding: 1rem;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  &__icon {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../../assets/icons/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
